@import "_reset";

body {
  background: #f1f1f1;

}

#header {
  height: 50px;
  background-color: #222;
  color: #fff;
  .nav-bar {
    display: table;
    width: 100%;
    color: #dedede;
    li {
      display: table-cell;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
  #nav-logo {
    width: auto;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      background: url("../img/logo.png") no-repeat center;
      background-size: contain;
    }
  }
  #nav-list {
    display: none;
  }
  &.show-list {
    #nav-list {
      display: block;
      li {
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        background: #323232;
        text-align: center;
        a {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}

#aim {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  
  #aim-slide {
    width: 100%;
    white-space: nowrap;
    transform: translateX(-100px);
    img {
      width: 100%;
      vertical-align: top;
    }
  }
  .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    li {
      margin: 0 3px;
      width: 6px;
      height: 6px;
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 6px;
      &.active {
        background: #fff;
      }
    }
  }
}

#artical {
  padding: 20px 0;
  ul {
    text-align: center;
    li {
      margin: 0 10px 20px;
      padding: 10px;
      padding-bottom: 0;
      width: 300px;
      background: #fff;
      text-align: left;
      font-size: 12px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.15);
      figcaption {
        padding: 8px 5px;
        line-height: 18px;
        color: #444;
        transition: color .3s ease-out;
      }
      img {
        width: 280px;
        height: 180px;
      }
      p {
        border-top: 1px solid #f2f2f2;
        padding: 8px 5px;
        color: #999;
        span {
          float: right;
          margin-left: 10px;
          i {
            margin-right: 4px;
          }
        }
      }
      &:hover {
        figcaption {
          color: #00c3b6;
        }
      }
    }
  }
}

#gallery {
  ul {
    width: 100%;
    li {
      width: 50%;
      figure {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      img {
        width: 100%;
        vertical-align: middle;
      }
      figcaption {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 195, 182, .8);
        color: #fff;
        font-size: 40px;
        transform: scale(2);
        opacity: 0;
        transition: all .2s;
        i {
          vertical-align: middle;
        }
        &::before {
          display:inline-block;
          content: "";
          height: 100%;
          vertical-align: middle;
        }
      }
      &:hover {
        figcaption {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  > div {
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin: 30px 0;
      padding: 8px 25px;
      border-radius: 99px;
      font-size: 14px;
      background-color: #00c3b6;
      color: #fff;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: #ea4c89;
      }
    }
  }
}

#user {
  background-color: #fff;
  padding: 30px 10px;
  ul {
    width: 100%;;
    li {
      padding: 0% 10px;
      width: 33.3%;
      text-align: center;
      p.icon-wrap {
        margin-bottom: 10px;
        i {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 20px;
          background-color: #00a398;
          color: #fff;
          border-radius: 50%;
        }
      }
      h3 {
        margin-bottom: 10px;
        font-size: 14px;
        color: #00c3b6;
      }
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

#feature {
  ul {
    width: 100%;
    background-color: #fff;
    li {
      margin-bottom: 3px;
      width: 100%;
      text-align: center;
      background-color: #f1f1f1;
      overflow-x: hidden;
      a {
        display: inline-block;
        width: 100%;
        height: 200px;
        background-position: center;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) a {
          background: url("../img/feature_" + $i + ".jpg") center;
        }
      }
    }
  }
}

#footer {
  padding: 0 10px;
  text-align: center;
  background-color: #222;
  color: #999;
  p {
    padding: 15px 0 25px;
    border-top: 1px solid rgba(255,255,255,0.065);
    font-size: 12px;
  }
  a {
    color: #00c3b6;
  }
}