@import "_reset";
@import "_mixin";

html {
  font-size: 12px;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.extra {
  display: none;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background-color: #222;
  color: #fff;
  z-index: 10;
  .nav-bar {
    display: table;
    width: 100%;
    color: #dedede;
    li {
      display: table-cell;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      text-align: center;
    }
  }
  #nav-logo {
    width: auto;
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      vertical-align: middle;
      background: url("../img/logo.png") no-repeat center;
      background-size: contain;
    }
  }
  #nav-list {
    display: none;
  }
  &.show-list {
    #nav-list {
      display: block;
      li {
        display: block;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
        background: #323232;
        text-align: center;
        a {
          height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}

#billboard {
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 50px;
  width: 100%;
  height: 250px;
  color: #fff;
  text-align: center;
  background: url("../img/billboard.png") center 0;
  background-size: cover;
  z-index: -1;
  div {
    display: table-cell;
    vertical-align: middle;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    display: inline-block;
    padding: 2px 8px;
    background-color: rgba(0,0,0,.15);
    border-radius: 5px;
  }
}

#notice {
  height: 50px;
  overflow: hidden;
  padding: 0 10px;
  color: #888;
  background: #f1f1f1;
  ul {
    > span {
      margin-right: 15px;
      font-size: 16px;
      line-height: 50px;
    }
  }
  li {
    margin-right: 4%;
    line-height: 50px;
  }
}

#aim {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
  #aim-slide {
    width: 100%;
    white-space: nowrap;
    li {
      width: 100%;
      text-align: center;
    }
    img {
      width: 652px;
      vertical-align: top;
    }
  }
  .pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    li {
      margin: 0 3px;
      width: 6px;
      height: 6px;
      border: 1px solid rgba(255,255,255,0.5);
      border-radius: 6px;
      &.active {
        background: #fff;
      }
    }
  }
}

#artical {
  padding: 20px 0;
  background: #f1f1f1;
  ul {
    text-align: center;
    li {
      position: relative;
      margin: 0 10px 20px;
      padding: 10px;
      padding-bottom: 0;
      width: 300px;
      background: #fff;
      text-align: left;
      font-size: 12px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.15);
      figcaption {
        padding: 8px 5px;
        line-height: 18px;
        color: #444;
        transition: color .3s ease-out;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
      .img-wrap {
        background-color: #000;
        font-size: 0;
        overflow: hidden;
      }
      img {
        width: 280px;
        height: 180px;
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.33, 0, 0.2, 1);
      }
      p {
        border-top: 1px solid #f2f2f2;
        padding: 8px 5px;
        color: #999;
        span {
          float: right;
          margin-left: 10px;
          i {
            margin-right: 4px;
          }
        }
      }
      &:hover {
        figcaption {
          color: #00c3b6;
        }
      }
    }
  }
}

#gallery {
  background: #f1f1f1;
  ul {
    width: 100%;
    li {
      width: 50%;
      .extra {
        transition: all .2s cubic-bezier(0.33,0,0.2,1);
      }
      figure {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
      img {
        width: 100%;
        vertical-align: middle;
      }
      figcaption {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 195, 182, .8);
        color: #fff;
        font-size: 40px;
        transform: scale(2);
        opacity: 0;
        transition: all .2s;
        i {
          vertical-align: middle;
        }
        &::before {
          display:inline-block;
          content: "";
          height: 100%;
          vertical-align: middle;
        }
      }
      &:hover {
        figcaption {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
  div.btn {
    width: 100%;
    text-align: center;
    a {
      display: inline-block;
      margin: 30px 0;
      padding: 8px 25px;
      border-radius: 99px;
      font-size: 14px;
      background-color: #00c3b6;
      color: #fff;
      transition: all 0.3s ease-out;
      &:hover {
        background-color: #ea4c89;
      }
    }
  }
}

#user {
  background-color: #fff;
  padding: 30px 10px;
  ul {
    width: 100%;;
    li {
      padding: 0% 10px;
      width: 33.3%;
      text-align: center;
      vertical-align: top;
      p.icon-wrap {
        margin-bottom: 10px;
        i {
          width: 60px;
          height: 60px;
          line-height: 60px;
          font-size: 20px;
          background-color: #00a398;
          color: #fff;
          border-radius: 50%;
        }
      }
      h3 {
        margin-bottom: 10px;
        font-size: 14px;
        color: #00c3b6;
      }
      p {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

#feature {
  ul {
    width: 100%;
    background-color: #fff;
    li {
      margin-bottom: 2px;
      width: 100%;
      text-align: center;
      background-color: #f1f1f1;
      overflow-x: hidden;
      a {
        display: inline-block;
        width: 100%;
        height: 200px;
        background-position: center;
      }
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) a {
          background: url("../img/feature_" + $i + ".jpg") center no-repeat;
        }
      }
    }
  }
}

#footer {
  padding: 0 10px;
  text-align: center;
  background-color: #222;
  color: #999;
  .container > p {
    padding: 15px 0 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.065);
    font-size: 12px;
    a {
      color: #00c3b6;
    }
  }
  nav {
    display: none;
  }
}


@media all and (min-width: 500px){
  body {
    padding-top: 250px;
  }

  #footer {
    text-align: left;
    nav {
      display: block;
      padding-top: 30px;
      overflow: hidden;
      color: rgba(255, 255, 255, .25);
      aside {
        padding-bottom: 20px;
        ul {
          li {
            margin: 5px;
            &.social-email {
              display: block;
            }
          }
        }
      }
      h3 {
        font-size: 14px;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.65);
      }
      p {
        letter-spacing: 1px;
        line-height: 20px;
      }
      a {
        transition: all 0.3s ease-out;
        color: rgba(255, 255, 255, 0.35);
        &:hover {
          color: rgba(255, 255, 255, 0.55);
          text-decoration: underline;
        }
      }

    }
    #social {
      li {
        display: block;
        margin: 0 0 5px;
      }
      input {
        border-radius: 2px;
        font: inherit;
        transition: all .3s ease-out;
      }
      @include placeholder(#444444);
      input.email {
        margin: 0 3px 0 0;
        padding: 0 5px;
        width: 155px;
        height: 26px;
        line-height: 26px;
        border: 1px solid #323232;
        background-color: #1c1c1c;
        color: rgba(255, 255, 255, 0.9);
        outline: none;
        &:focus {
          background-color: #111;
          border-color: #484848;;
        }
      }
      input.submit {
        padding: 0px 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 28px;
        color: rgba(255, 255, 255, 0.7);
        background-color: #00a398;
        box-shadow: none;
        cursor: pointer;
        &:hover {
          color: #fff;
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
        }
      }
      .social-icon {
        margin-top: 20px;
        i {
          display: inline-block;
          margin-right: 5px;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.2);
          color: rgba(255, 255, 255, 0.5);
          text-align: center;
          font-size: 14px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          transition: all 0.3s ease-out;
          &:hover {
            opacity: 8;
            &.fa-weibo {
              background-color: #79ac21;
            }
            &.fa-tencent-weibo {
              background-color: #ff664e;
            }
            &.fa-qq {
              background-color: #e05fef;
            }
            &.fa-feed {
              background-color: #00c3f4;
            }
            &.fa-wechat {
              background-color: #f39c12;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  #artical {
    ul {
      li {
        figure {
          position: relative;
          overflow: hidden;
          .extra {
            display: block;
            position: absolute;
            top: -50px;
            left: 0;
            padding: 8px 6px;
            width: 100%;
            background-color: #222;
            color: #fff;
            transition: top 0.2s cubic-bezier(0.33, 0, 0.2, 1);
            a {
              color: rgba(255, 255, 255, 0.9)
            }
            span {
              float: right;
            }
            i {
              margin: 0 4px;
            }
          }
        }
        &:hover {
          img {
            transform: translateY(20px);
            opacity: .7;
          }
          .extra {
            top: 0;
          }
        }
      }
    }
  }

  #gallery {
    ul {
      li {
        width: 25%;
        position: relative;
        overflow: hidden;
        .extra {
          display: block;
          position: absolute;
          bottom: -60px;
          padding: 8px 10px;
          width: 100%;
          background-color: rgba(0, 0, 0, .5);
          color: #fff;
          line-height: 18px;
          h4 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .meta {
            color: rgba(255,255,255,0.65);
            i {
              margin-right: 3px;
            }
            span {
              float: right;
              margin-right: 4px;
            }
          }
        }
        &:hover {
          .extra {
            bottom: 0;
          }
        }
      }
    }
  }

  #user {
    ul li {
      p.icon-wrap i {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 30px;
      }
      h3 {
        font-size: 18px;
      }
    }
  }


  #feature {
    ul li {
      width: 50%;
      border-right: 2px solid #fff;
      &:nth-child(even) {
        border-right: none;
      }
    }
  }

  #footer {
    nav {
      width: 100%;
    }
    aside {
      display: inline-block;
      width: 10%;
      vertical-align: top;
      &#describe {
        width: 40%;
        p {
          padding-right: 20px;
        }
      }
      &#social {
        width: 28%;
        input#to {
          width: 120px;
        }
      }
    }
    .menu li {
      display: block;
    }
  }
}

@media all and (min-width: 1024px) {
  #header {
    padding: 0 20px;
    .nav-bar {
      display: none;
    }
    #nav-list {
      position: relative;
      display: block;
      text-align: justify;
      &::after {
        content: '';
        display: inline-block;
        position: relative;
        width: 100%;
        font-size: 0;
      }
      li {
        padding: 0 5px;
        height: 50px;
        line-height: 50px;
        display: inline-block;
        vertical-align: top;
        color: rgba(255, 255, 255, .8);
        font-size: 14px;
        &.logo {
          width: 150px;
          background: url("../img/logo-list.png") no-repeat;
          background-size: 100%;
        }
        &#search {
          margin-left: 10%;
        }
        &#search, &#login {
          float: right;
        }
        &#login {
          a {
            display: inline-block;
            padding: 0 15px;
            height: 32px;
            line-height: 32px;
            vertical-align: middle;
            background-color: rgba(255,255,255,0.2);
            font-size: 12px;
            &:first-child {
              border-radius: 4px 0 0 4px;
              margin-right: 2px;
            }
            &:last-child {
              border-radius: 0 4px 4px 0;
            }
          }
        }
        form {
          p {
            position: relative;
            display: inline-block;
            padding-left: 32px;
            height: 32px;
            vertical-align: middle;
            border-radius: 4px;
            overflow: hidden;
            label, input {
              display: inline-block;
              height: 32px;
              line-height: 32px;
              vertical-align: top;
              background-color: transparent;
              transition: all .3s ease-out;
            }
            label {
              position: absolute;
              top: 0;
              left: 0;
              width: 32px;
              text-align: center;
            }
            input {
              width: 0;
              font: inherit;
              font-size: 14px;
              outline: none;
              border: 0 none;
              &:focus {
                width: 150px;
                background: #fff;
                color: rgba(0, 0, 0, 0.5);
                & + label {
                  background: #fff;
                  color: rgba(0, 0, 0, 0.5);
                }
              }
            }
          }
        }
      }
    }
  }

  #notice {
    padding-left: 20px;
    padding-right: 20px;
  }

  #artical {
    ul {
      max-width: 1280px;
      margin: 0% auto;
    }
  }

  #gallery {
    padding:5px 20px 20px;
    background: url("../img/love-bg.jpg") center bottom no-repeat fixed;
    background-size: 100%;
  }
  
  #feature {
    ul {
      li {
        width: 25%;
        &:nth-child(2) {
          border-right: 2px solid #fff;
        }
      }
    }
  }
}

@media all and (min-width: 1320px) {
  #header {
    #nav-list {
      li {
        a {
          padding: 0 10px;
        }
      }
      #logo {
        padding-right: 40px;
      }
      li#search {
        margin-left: 20%;
      }
    }
  }
}