{{each data as value}}
    <li>
        <figure>
            <a href="#">
                <div class="img-wrap"><img src="{{value.src}}" alt="{{value.title}}"></div>
                <figcaption>
                    {{value.title}}
                </figcaption>
                <div class="extra">
                    <i class="fa fa-bookmark"></i>
                    <a href="#">{{value.category}}</a>
                    <span>{{value.viewNum}}
                        <i class="fa fa-fire"></i>
                    </span>
                </div>
            </a>
        </figure>
        <p>
            <time class="time">{{value.time}}</time>
            <span><i class="fa fa-comment"></i>{{value.commentNum}}</span>
            <span><i class="fa fa-heart"></i>{{value.viewNum}}</span>
        </p>

    </li>
{{/each}}