{{each data as value}}
    <li>
        <figure>
            <img src="{{value.src}}" alt="{{value.title}}">
            <figcaption><i class="fa fa-link"></i></figcaption>
        </figure>
    </li>
{{/each}}
